<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/omikuji.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      
    </div>
    
  </div>
  <p><%= @uname %>さんの運勢は...</p>
  <h1 style="border-color:<%= @color %>"><%= @result %></h1>
  <form action="/result" method="get">
    <input type="hidden" name="username" value=<%= @uname %>>
    <input type="submit" value="もう一度占う">
  </form>
  <a href="/">最初に戻る</a>
  <table class="table">
    <thead>
      <tr>
        <th>運勢</th>
        <th>総数</th>
        <th>設定確率</th>
        <th>確率</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>小吉</th>
        <th><%= @history.small %></th>
        <th>60%</th>
        <th><%= ((@history.small.to_f * 100) / @history.total).round(3)  %></th>
      </tr>
      <tr>
        <th>中吉</th>
        <th><%= @history.good %></th>
        <th>30%</th>
        <th><%= ((@history.good.to_f * 100) / @history.total).round(3)  %></th>
      </tr>
      <tr>
        <th>大吉</th>
        <th><%= @history.excellent %></th>
        <th>10%</th>
        <th><%= ((@history.excellent.to_f * 100) / @history.total).round(3)  %></th>
      </tr>
    </tbody>
  </table>
</body>
</html>
